In [36]:
import pandas as pd
url='/content/drive/MyDrive/housing.csv'

In [37]:
housing_data=pd.read_csv(url)
data_description=housing_data.describe()
print("a) Data Description:")
print(data_description)

a) Data Description:
          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [38]:
data_types=housing_data.dtypes
data_shape=housing_data.shape
print("\nb) Data Types:")
print(data_types)
print("\nShape of the Data:")
print(data_shape)

b) Data Types:
longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

Shape of the Data:
(20640, 10)

In [39]:
null_values = housing_data.isnull().sum()
housing_data_filled = housing_data.fillna(0)
print("\nc) Null Values:")
print(null_values)
print("\nData after filling null values:")
print(housing_data_filled)

c) Null Values:
longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

Data after filling null values:
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]

In [40]:
data = pd.read_csv('housing.csv')
features_without_categorical = data.drop('ocean_proximity', axis=1)
print("\nb) Features without 'ocean_proximity':",features_without_categorical)

b) Features without 'ocean_proximity':        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

[20640 rows x 9 columns]

In [41]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
features_normalized = scaler.fit_transform(features_without_categorical)
print("\nb) Normalized Features:")
print(features_normalized)

b) Normalized Features:
[[0.21115538 0.5674814  0.78431373 ... 0.02055583 0.53966842 0.90226638]
 [0.21215139 0.565356   0.39215686 ... 0.18697583 0.53802706 0.70824656]
 [0.21015936 0.5642933  1.         ... 0.02894261 0.46602805 0.69505074]
 ...
 [0.31175299 0.73219979 0.31372549 ... 0.07104095 0.08276438 0.15938285]
 [0.30179283 0.73219979 0.33333333 ... 0.05722743 0.09429525 0.14371281]
 [0.30976096 0.72582359 0.29411765 ... 0.08699227 0.13025338 0.15340349]]

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(features_without_categorical, target, test_size=0.2, random_state=42)
print("\nc) Shapes of Train and Test Sets:")
print("X_train:", X_train.shape)
print("X_test:", X_test.shape)
print("y_train:", y_train.shape)
print("y_test:", y_test.shape)

c) Shapes of Train and Test Sets:
X_train: (16512, 9)
X_test: (4128, 9)
y_train: (16512,)
y_test: (4128,)

In [53]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
degree=2
model=make_pipeline(SimpleImputer(strategy='mean'),PolynomialFeatures(degree),LinearRegression())
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
mse=mean_squared_error(y_test, y_pred)
print("\nd)Mean Squared Error:")
print(mse)

print("\nCoefficients:")
print("Intercept:", model.named_steps['linearregression'].intercept_)
print("Coefficients:", model.named_steps['linearregression'].coef_)

d)Mean Squared Error:
1.8258450818974416e-11

Coefficients:
Intercept: -6.5279018599539995e-06
Coefficients: [ 3.02751525e-11  3.72611444e-08  1.95692595e-08 -2.73053177e-10
  6.83113577e-11 -6.68506223e-11 -6.30443441e-12  4.68669680e-11
 -1.42247929e-08  1.00000000e+00  5.72216733e-10  4.99553458e-11
 -2.54289236e-10 -3.84557511e-10  1.08055774e-10  8.70283937e-10
 -3.85812245e-10 -1.59601511e-10  5.83505466e-12  4.94095778e-10
  1.72096691e-10 -1.36888620e-09 -3.71565043e-10  2.80397794e-09
  1.21586380e-10 -3.21153104e-10  6.01219421e-12  1.46036000e-10
  5.25911259e-11  4.93569630e-11  8.92182994e-11 -5.60427038e-10
 -1.57668878e-11 -9.89000548e-14  1.09884324e-13 -4.06481793e-12
 -4.44352888e-13  4.30314118e-12  6.96438872e-10 -1.31340251e-14
  2.63010030e-11  1.15640102e-11 -6.33951711e-11  3.29449983e-11
  1.15381663e-13  2.52464716e-13 -1.05869410e-11 -4.55278126e-10
  1.53527364e-14  3.39723701e-11 -1.27263165e-11 -1.22260709e-13
  3.50840902e-11 -2.37725117e-12  2.85687272e-17]